:root {
    --smoky-black: #0F0F0F;
    --black-chocolate: #1A2212;
    --cal-poly-pomona-green: #2B4E33;
    --amazon: #448053;
    --eucalyptus: #c3ef8f;
}


/* Base reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-size: 14px;
}

/* Estilos para tabletas en modo retrato (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}

/* Estilos para tabletas en modo paisaje y pantallas pequeñas de escritorio (1024px - 1279px) */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  body {
    font-size: 18px;
  }
}

/* Estilos para pantallas de escritorio y monitores más grandes (1280px en adelante) */
@media screen and (min-width: 1280px) {
  body {
    font-size: 20px;
  }
}








::selection{
   background: rgba(195, 239, 143, 0.5);
}

.screen {
    width: 100vw;
    height: 100vh;
    min-height: 400px;
    background: #252926;
    color: var(--eucalyptus);
    font-family: Monaco, "Courier New", Courier, monospace;
    animation: crt 1ms infinite;
    text-shadow:
        0 0 1px var(--eucalyptus),
        1px 1px 1px blue,
        -1px -1px 1px red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
     
}

.screen::after{
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:
            repeating-linear-gradient(
                top, transparent 0px,
                transparent 2px,
                rgba(0, 0, 0, 0.2) 2px,
                rgba(0, 0, 0, 0.2) 4px
            );
        background-size: 100% 4px;
        box-shadow:
            inset 0 0 10em rgba(0, 0, 0, 0.5),
            inset 0 0 2em rgba(0, 0, 0, 0.1);
        z-index: -1;
        content: "";
}

.screen h1{
    font-family: "Press Start 2p", "Courier Prime", Courier, monospace;
    font-size: xxx-large;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.screen h2, .screen h3, .screen h4 {
    font-weight: 400;
    color: var(--eucalyptus);
    font-family: "Courier Prime", Courier, monospace;
    font-size: xx-large;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}


.container-glitch {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}



.container-glitch * {
    animation:
        5s distort 10s infinite alternate;
}

@keyframes crt {
    28% {
        background: #232624;
    }
    30% {
        background: #272c28;
    }
    33% {
        background: #232624;
    }
    34% {
        background: #272c28;
    }
    35% {
        background: #202421;
    }
}

@keyframes distort {
    10% {
        opacity: 1;
        top: 0;
        left: 0;
        transform: scale(1, 1);
        transform: skew(0, 0);
    }
    11% {
        opacity: 0.8;
        top: 0px;
        left: -100px;
        transform: scale(1, 1.2);
        transform: skew(50deg, 0);
    }
    12% {
        opacity: 0.2;
        top: 0px;
        left: 100px;
        transform: scale(1, 1.2);
        transform: skew(-80deg, 0);
    }
    13% {
        opacity: 1;
        top: 0;
        left: 0;
        transform: scale(1, 1);
        transform: skew(0, 0);
    }
}

#start-button {
    border-radius: 45%;
    cursor: pointer;
    width: 10vw;
    min-width: 100px;
    margin-top: 15vh;
}
