* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: black;

    display: flex;
}

.buttons-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 30%;
    height: 100%;
}

#main-canvas-container {
    width: 40%;
    height: 100%;
}

.webgl {
    outline: none;
}